.text {
  line-height: 1.3;
}

.standart {
  font-size: 16px;
}

.textBlack {
  color: var(--black);
}

.regular {
  font-weight: 400;
}

.bigText {
  font-size: 20px;
}
.boldText {
  font-weight: 600;
}
