.button {
  padding: 0;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  font-family: inherit;
  cursor: pointer;
}

.whiteText {
  color: var(--white);
}

.blackText {
  color: var(--black);
}

.greenText {
  color: var(--green);
}

.whiteBgColor {
  background-color: var(--white);
  transition: color 0.2s, background-color 0.2s;
}

.whiteBgColor:hover {
  background-color: var(--black);
  color: var(--white);
}

.blackBgColor {
  background-color: var(--black);
  transition: background-color 0.2s;
}
.blackBgColor:hover {
  background-color: var(--white);
}

.greenBgColor {
  background-color: var(--green);
  transition: background-color 0.2s;
}
.greenBgColor:hover {
  background-color: var(--black);
}

.whiteBorder {
  border: 1px solid var(--white);
}

.blackBorder {
  border: 1px solid var(--black);
}

.greyBorder {
  border: 1px solid var(--grey-divider);
}
