.input {
  display: block;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  border-radius: 6px;
  transition: border 0.2s;
}

.input::placeholder {
  font-weight: 500;
  color: var(--grey);
  font-family: inherit;
}

.bigInput {
  width: 100%;
  padding: 16px 32px;
  border: 1px solid var(--white);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: var(--white);
}

.bigInput::placeholder {
  font-size: 20px;
  line-height: 1.3;
}

.bigInput:hover,
.bigInput:focus,
.bigInput:active {
  border: 1px solid var(--grey);
}

.smallInput {
  width: 112px;
  border: 1px solid var(--grey-divider);
  padding: 8px 16px;
}

.smallInput::placeholder {
  font-size: 16px;
  line-height: 1.26;
}

.smallInput:hover,
.smallInput:focus,
.smallInput:active {
  border: 1px solid var(--green);
}
