.filter {
  display: flex;
  align-items: center;
  gap: 40px;
}

.group {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  transition: border 0.2s;
}

.button:hover {
  border: 1px solid var(--green);
}

.dropdown,
.search {
  width: 200px;
}
