.section {
  padding-top: 80px;
}

.content {
  padding: 32px 32px 0;
  border-radius: 12px;
  background: linear-gradient(220deg, #0b710b 0%, #393 100%);
}

.title {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 32px;
  align-items: end;
}
