.footer {
  margin-top: 80px;
  padding: 40px 0 40px;
  border-top: 1px solid var(--grey-divider);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: var(--black);
}
