.section {
  padding-top: 80px;
}

.container {
  border-radius: 12px;
  padding: 32px 32px 0px 32px;
  background: linear-gradient(220deg, #0b710b 0%, #393 100%);
}

.title {
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: end;
}
